# permanent
*.pdf
*.png
*.jpg
*.jpeg
finished
images
__pycache__
before-2021
alexis-smolensk-all-blogs.txt
code-backup/*
dnd/created-characters
dnd/old*
old/*
old-econ/*
*.xcf
# temporary
dming
response_to_Council_2016_01_17.txt
poetry.lock
package-structure.txt
