$def with (ability, abi_info, chars)

<h1>$:titlecase(ability)</h1>

$ funcs = list(abi_info.keys())

TODO: use mod_to_text on appropriate numeric values, e.g. bonus hp, save bonuses

<table>
<tr>
<th>Score</th>
$for f in funcs:
    <th>$:titlecase(f)</th>
</tr>
$for score in range(1, 21):
    <tr>
    <td>$:score</td>
    $for f in funcs:
        $if 'bonus HP' not in f:
            <td>${abi_info[f](score)}</td>
        $else:
            $ normal = abi_info[f](score)
            $ martial = abi_info[f](score, 'fighter')
            $if normal == martial:
                <td>$normal</td>
            $else:
                <td>$normal ($martial)</td>
    $for c in chars:
        $if c['details'][ability] == score:
            <td>$c['details']['name']</td>
    </tr>
</table>

Parenthesized bonus HP applies only to the $andlist(list(characters.martial_classes), ', ').
