$def with (ability, abi_info, score_to_characters)

<h1>$:titlecase(ability)</h1>

$ funcs = list(abi_info.keys())

<table>
<tr>
<th>Score</th>
$for f in funcs:
    <th>$:titlecase(f)</th>
</tr>
$for score in range(2, 20):
    <tr>
    <td>$:score</td>
    $for f in funcs:
        $# TODO make use of mod_to_text where appropriate (i.e. NOT max mage/cleric spell level, or percentile chances)
        <td>${abi_info[f](score)}</td>
    $if score_to_characters[score]:
        <td>$:score_to_characters[score]</td>
    </tr>
</table>
