$def with (ability, abi_info, score_to_characters)

<h1>$:titlecase(ability)</h1>

$ funcs = list(abi_info.keys())

<table>
<tr>
<th>Score</th>
$for f in funcs:
    <th>$:titlecase(f)</th>
</tr>
$for score in range(1, 21):
    <tr>
    <td>$:score</td>
    $for f in funcs:
        $if f != 'bonus HP/level':
            <td>${abi_info[f](score)}</td>
        $else:
            $ normal = abi_info[f](score)
            $ martial = abi_info[f](score, 'fighter')
            $if normal == martial:
                <td>$normal</td>
            $else:
                <td>$normal ($martial)</td>
    $if score_to_characters.get(score):
        <td>$:score_to_characters[score]</td>
    </tr>
</table>

Parenthesized bonus HP applies only to the $andlist(list(characters.martial_classes), ', ').
