$def with (characters)

<ul>
$for c in characters:
    $ details = c['details']
    <li><a href="/players/$c['username']/characters/$details['name']">$details['name']</a></li>
</ul>

<h2>DM Commands</h2>

<h3>World</h3>
$# TODO use the current date in value and min
<form method=post action=/world/set-date>
<label>Current In-Game Date
<input type="date" name="current-date" value="1650-01-01" min="1650-01-01" required>
</label>
<button>Set the Date</button>
</form>

<h3>Player Characters</h3>


<p>Give Items</p>

<form method=post action=/world/give-item>

<label for="pc-select">Choose PC</label>

<div>
<select name="pcs" id="pc-select">
<option value="">--Select One--</option>
<option value="goldfish">Alkobell</option>
<option value="goldfish">Apollo Marcus</option>
</select>
</div>

<label for="item-select">Choose Item</label>

<div>
<select name="items" id="item-select">
<option value="">--Select One--</option>
<option value="arrow">arrow</option>
<option value="arrow, silver">arrow, silver</option>
</select>

</div><button>Give character item(s) </button>
</form>

<p>Give Money</p>

<form method=post action=/world/give-money>


<div>
<input type="radio" id="yes-xp" name="counts-for-xp" value="True" required checked>
<label for="yes-xp">Yes XP</label>
</div>

<div>
<input type="radio" id="no-xp" name="counts-for-xp" value="False" required>
<label for="no-xp">No XP</label>
</div>



<button>Give money to character</button>
</form>




$# TODO update this to, and the "givemoney" route, to match changes in player/character ID addressing
$#$ cid = row['rowid']
$#$ cname = row['name']
$#<form method=post action=/dm/givemoney/character/$cid/cp/1><button>Give $cname 1 copper piece</button></form>

Apollo

<li>
  <li>Strength........17 (melee attack +2; melee damage +2)</li>
  <li>Dexterity.......15 (initiative/ranged attack +1; AC +1)</li>
  <li>Constitution....14</li>
  <li>Intelligence....11 (+3 elf save vs. Charm)</li>
  <li>Wisdom..........16 (+2 save vs. Charm/Illusion) additional +3 on Charm</li>
  <li>Charisma........14 (max henchmen 6)</li>
</li>

<p>
Total Charm save: +5 AND a bg +1 save vs magic
</p>

<p>
+1 on attacks with bows and with one-handed swords (i.e. shortsword and longsword)
</p>

<p>
Family:
Character raised by mother and father. Has paternal grandmother, paternal grandfather, maternal grandfather; brother who is 4 years younger, brother who is 2 years older, brother who is 4 years older, brother who is 4 years older.
</p>

<ul>
  <li>Your father's profession: drover. Reduce daily travel damage by 1 point</li>
  <li>Strong upper body. For slings, bows (not crossbows), and all thrown weapons, increase short range by 1 hex, and medium and long ranges by 2 hexes.</li>
  <li>Character has been made a member of the Illuminati. Tell nobody.</li>
  <li>Character begins play with 350 XP.</li>
  <li>Character has fathered a child out of wedlock. The mother is 3 months pregnant.</li>
  <li>Character has attractively straight teeth, and also has a swayback.</li>
  <li>+1 save vs magic.</li>
  <li>Character can catch and handle ordinary snakes if he successfully saves vs. poison (with a +4 bonus.)</li>
</ul>

HP: 14 = 3 + 10 [from class] + 1 [from Con]
Age: 21 Birthday: January 13
Hair: red
Eyes: green


Height: 5 ft. 1 in.
Weight: 122 lbs

Encumbrance Information:
<ul>
  <li>Carried weight <= 39.6 lbs: no AP penalty.</li>
  <li><= 54.5 lbs: -1 AP.</li>
  <li><= 69.4 lbs: -2 AP.</li>
  <li><= 84.2 lbs: -3 AP.</li>
  <li><= 99.1 lbs: -4 AP.</li>
  <li>Above that, no movement is possible.</li>
</ul>

Alkobell
<ul>
  <li>
    Strength........16 (melee attack +1; melee damage +2)
  </li>
  <li>
    Dexterity.......12 (initiative/ranged attack +0; AC +0)
  </li>
  <li>
    Constitution....13
  </li>
  <li>
    Intelligence....8
  </li>
  <li>
    Wisdom..........9 (+0 save vs. Charm/Illusion)
  </li>
  <li>
    Charisma........9 (max henchmen 4)
  </li>
</ul>

Character raised by grandparents on mother's side. Number of first cousins: 3.

<ul>
  <li>Your father's profession: explorer. Literacy; bonus weapon proficiency with unusual weapon from that region</li>
  <li>Due to interpersonal, NO knowledge of regions he explored.</li>
  <li>Character has been ostracized by her family because of her poor decisions. The character has no access to any family possessions or talents.</li>
  <li>Weak arms and legs. Treat character's Dexterity as half its actual value (round down) for the purpose of no-fault climbing. Danger climbing ability is reduced by 15%.</li>
  <li>A painful love affair has left the character emotionally toughened. Her Wisdom is treated as 2 points higher when resisting seduction.</li>
  <li>Ability to play a musical instrument of the player's choosing.</li>
  <li>Character has a beautiful aquiline nose, and also has a swayback.</li>
  <li>+1 save vs explosion.</li>
  <li>If character causes friendly fire, it is 50% likely to be in ANY direction.</li>
</ul>

HP: 6 + 10 [from class] + 0 [from Con]
Age: 18 Birthday: July 16
Hair: black
Eyes: brown
Literate: Yes
Height: 5 ft. 2 in.
Weight: 132 lbs

Encumbrance Information:
<ul>
  <li><= 45.2 lbs: no AP penalty.</li>
  <li><= 62.2 lbs: -1 AP.</li>
  <li><= 79.1 lbs: -2 AP.</li>
  <li><= 96.0 lbs: -3 AP.</li>
  <li><= 113 lbs: -4 AP.</li>
  <li>Above that, no movement is possible.</li>
</ul>
