$def with (characters)

$#    I DONT WORK RIGHT NOW FIX ME TO USE PIDS AND EIDS

$#<ul>
$#$for character in characters:
$#<li><a href="/players/$:player/characters/$:character">$:character</a> (played by <a href="/players/$:player">$:player</a>)</li>
$#</ul>


Apollo

<li>
  <li>Strength........17 (melee attack +2; melee damage +2)</li>
  <li>Dexterity.......15 (initiative/ranged attack +1; AC +1)</li>
  <li>Constitution....14</li>
  <li>Intelligence....11 (+3 elf save vs. Charm)</li>
  <li>Wisdom..........16 (+2 save vs. Charm/Illusion) additional +3 on Charm</li>
  <li>Charisma........14 (max henchmen 6)</li>
</li>

<p>
Total Charm save: +5 AND a bg +1 save vs magic
</p>

<p>
+1 on attacks with bows and with one-handed swords (i.e. shortsword and longsword)
</p>

<p>
Family:
Character raised by mother and father. Has paternal grandmother, paternal grandfather, maternal grandfather; brother who is 4 years younger, brother who is 2 years older, brother who is 4 years older, brother who is 4 years older.
</p>

<ul>
  <li>Your father's profession: drover. Reduce daily travel damage by 1 point</li>
  <li>Strong upper body. For slings, bows (not crossbows), and all thrown weapons, increase short range by 1 hex, and medium and long ranges by 2 hexes.</li>
  <li>Character has been made a member of the Illuminati. Tell nobody.</li>
  <li>Character begins play with 350 XP.</li>
  <li>Character has fathered a child out of wedlock. The mother is 3 months pregnant.</li>
  <li>Character has attractively straight teeth, and also has a swayback.</li>
  <li>+1 save vs magic.</li>
  <li>Character can catch and handle ordinary snakes if he successfully saves vs. poison (with a +4 bonus.)</li>
</ul>

HP: 14 = 3 + 10 [from class] + 1 [from Con]
Age: 21 Birthday: January 13
Hair: red
Eyes: green


Height: 5 ft. 1 in.
Weight: 122 lbs

Encumbrance Information:
<ul>
  <li>Carried weight <= 39.6 lbs: no AP penalty.</li>
  <li><= 54.5 lbs: -1 AP.</li>
  <li><= 69.4 lbs: -2 AP.</li>
  <li><= 84.2 lbs: -3 AP.</li>
  <li><= 99.1 lbs: -4 AP.</li>
  <li>Above that, no movement is possible.</li>
</ul>

RACHEL
<ul>
  <li>
    Strength........16 (melee attack +1; melee damage +2)
  </li>
  <li>
    Dexterity.......12 (initiative/ranged attack +0; AC +0)
  </li>
  <li>
    Constitution....13
  </li>
  <li>
    Intelligence....8
  </li>
  <li>
    Wisdom..........9 (+0 save vs. Charm/Illusion)
  </li>
  <li>
    Charisma........9 (max henchmen 4)
  </li>
</ul>

Character raised by grandparents on mother's side. Number of first cousins: 3.

<ul>
  <li>Your father's profession: explorer. Literacy; bonus weapon proficiency with unusual weapon from that region</li>
  <li>Due to interpersonal, NO knowledge of regions he explored.</li>
  <li>Character has been ostracized by her family because of her poor decisions. The character has no access to any family possessions or talents.</li>
  <li>Weak arms and legs. Treat character's Dexterity as half its actual value (round down) for the purpose of no-fault climbing. Danger climbing ability is reduced by 15%.</li>
  <li>A painful love affair has left the character emotionally toughened. Her Wisdom is treated as 2 points higher when resisting seduction.</li>
  <li>Ability to play a musical instrument of the player's choosing.</li>
  <li>Character has a beautiful aquiline nose, and also has a swayback.</li>
  <li>+1 save vs explosion.</li>
  <li>If character causes friendly fire, it is 50% likely to be in ANY direction.</li>
</ul>

HP: 6 + 10 [from class] + 0 [from Con]
Age: 18 Birthday: July 16
Hair: black
Eyes: brown
Literate: Yes
Height: 5 ft. 2 in.
Weight: 132 lbs

Encumbrance Information:
<ul>
  <li><= 45.2 lbs: no AP penalty.</li>
  <li><= 62.2 lbs: -1 AP.</li>
  <li><= 79.1 lbs: -2 AP.</li>
  <li><= 96.0 lbs: -3 AP.</li>
  <li><= 113 lbs: -4 AP.</li>
  <li>Above that, no movement is possible.</li>
</ul>
