$def with (towns, registry)
$var title: Maxwell's Game

$#TODO: use this https://pypi.org/project/inflect/

<p>The market town nearest the party is <a href="/towns/Allrivers">Allrivers</a>.</p>

<h2>Player Characters</h2>

<ul>
<li>Classes:
$ links = [f"<a href='/rules/{c}'>{titlecase(c)}</a>"  for c in characters.classes]
$:andlist(links, ', ')</li>
</li>

<li>Races:
$ links = [f"<a href='/rules/{r}'>{titlecase(r)}</a>"  for r in characters.races]
$:andlist(links, ', ')</li>
</li>
<li>Ability Scores:
$ links = [f"<a href='/rules/{abi}'>{titlecase(abi)}</a>"  for abi in characters.abilities]
$:andlist(links, ', ')</li>
<li><a href="/rules/saving-throws">Saving Throws</a></li>

<li>Sage Knowledge:

<ul>
<li><a href="/rules/falconry">Falconry</a></li>
<li><a href="/rules/unarmed-combat">Unarmed Combat</a></li>
<li>Physical Balance</li>
<li><a href="/rules/illuminati">Illuminati</a></li>
<li>Dog Training</li>
<li><a href="/rules/mosses-ferns">Mosses and Ferns</a></li>
<li><a href="/rules/trees">Trees</a></li>
</ul>

</li>

</ul>

<h2>Adventuring</h2>

<ul>
<li><span class="new" ><a href="/rules/world">Regional Descriptions</a></span> and <a href="/maps">Maps</a></li>
<li><a href="/rules/social-ranks">Social Ranks</a></li>
<li><a href="/rules/travel">Roads and Travel</a></li>
<li>Wilderness Damage</li>
<li><a href="/rules/banking">Banking</a></li>
<li><a href="/rules/food">Food and Drink</a></li>
<li><a href="/rules/degradation">Item Degradation</a></li>
</ul>

<h2>Combat</h2>

<ul>
<li><a href="/rules/weapons">Weapons</a></li>
<li><a href="/rules/actions">Actions and Action Points</a></li>
<li><a href="/rules/critical-hit">Critical Hits</a></li>
<li><a href="/rules/assassination">Assassination</a></li>
<li>HP, Death, and Dying</li>
</ul>

$#<h2>Towns</h2>
$#<ul>
$#$for (town, info) in sorted([(town, info) for town, info in towns.items()], key=lambda x: x[0]):
$#    $ pop = info['population']
$#    $if town != 'Far Away':
$#        $ strang = f"(pop. {pop:,})" if pop else ""
$#        <li><a href="/towns/$town">$town</a> $strang</li>
$#</ul>

<h2>Trade Goods</h2>

<details>
<summary>Show All</summary>
$for good in sorted(registry.keys()):
    <li><a href="/tradegoods/$good">$good</a></li>
</ul>
</details>
