$def with (klass, info)

<h1>$:titlecase(klass)</h1>

$ races = [r for r in characters.races if klass in characters.races[r]['permitted classes']]

$:titlecase(ana(klass)) $:klass can be of these races:
$ links = [f"<a href='/rules/{r}'>{titlecase(r)}</a>"  for r in races]
$:andlist(links, ', ')


<p>
Hit Die: $:info['hit die']
</p>

$ minimums = [f"<a href='/rules/{abi}'>{abi}</a> ({threshold})" for abi, threshold in info['ability minimums'].items()]
<p>
$:titlecase(ana(klass)) $:klass must have these minimum ability scores: $:andlist(minimums, ", "). Note: $ana(klass) ${klass} whose scores fall below these minimums will temporarily lose all class abilities.
</p>

$ bonus_minimums = [f"<a href='/rules/{abi}'>{abi}</a> ({threshold})" for abi, threshold in info['bonus XP minimums'].items()]
<p>
$:titlecase(ana(klass)) $:klass earns 10% bonus XP if these additional ability thresholds are met: $:andlist(bonus_minimums, ", ").
</p>

Nonproficiency Penalty: $:info['nonproficiency penalty']

<p>
Weapon choices:
$if info['weapon choices'] == set(characters.weapons):
    Any
$else:
    $:info['weapon choices']
</p>

<p>
Armor choices:
$ armor_choices = info['armor choices']
$if armor_choices == set(characters.armors):
    Any
$elif armor_choices:
    $:info['armor choices']
$else:
    None ($:ana(klass) $:klass cannot use armor)
</p>


<table>
<tr>
<th>Level</th>
$for key in characters.class_table_order:
    <th>$:titlecase(key)</th>
</tr>
$for level in range(1, 21):
    <tr>
    <td>$:level</td>
    $ thislevel = info['levels'][level]
    $for key in characters.class_table_order:
        $ val = thislevel.get(key)
        $if val is None:
            <td></td>
        $else:
            $if key == 'min XP':
                <td>$f'{val:,d}'</td>
            $else:
                <td>${val}</td>
    </tr>
</table>


$if klass == 'assassin':
    <h2>Highest Possible Asssassination Target</h2>
    $ target = characters.highest_assassination_target
    <table>
    <tr>
    <th>Level</th>
    <th>Target's Power (HD + Levels)</th>
    <th>(if 10+ points in Murder sage study)</th>
    </tr>
    $for level in range(1, 21):
        <tr>
        <td>$:level</td>
        <td>$:target(level)</td>
        <td>$:target(level, True)</td>

        </tr>
    </table>

<p>
Other classes:
$ links = [f"<a href='/rules/{c}'>{titlecase(c)}</a>"  for c in characters.classes if c != klass]
$:andlist(links, ', ')
</p>
