$def with (inner)
<html>

<head>
<meta charset=utf-8>
<meta name=viewport content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width'>
<link rel=stylesheet type='text/css' href='/static/style.css'>
$ title = inner.get('title', None)
$if title:
    <title>$title</title>
</head>

<body>
<nav>
<a href=/>Home</a>
$if not tx.user.role:
    <a href=/login>Log In</a>
$else:
    $ link = "/dm" if tx.user.role == "dm" else f"/players/{tx.user.username}"
    You, $tx.user.name, are $(tx.user.role_string). <a href=$link>Your Page</a><p><form method=post action='/logout'><button>Log Out</button></form></p>
</nav>

$if title:
    <h1>$title</h1>

$:inner
</body>

<script src='/static/my.js' type="module"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js'></script>
<script src='https://unpkg.com/honeycomb-grid@3.1.8/dist/honeycomb.min.js'></script>
</html>
