$def with (town, info, registry, has_market, vendors, industries)

<h1>$town.upper()</h1>

$ distances = [(where, distance) for where, distance in info['hexes to'].items()]
$ distances.sort(key=lambda x: x[1])
$for where, distance in distances:
    $if where =='Far Away':
        $ distances.remove(('Far Away', distance))

<details>
<summary>Distance to Other Settlements</summary>
<table>
<tr>
<th>Name</th>
<th>Days Away</th>
</tr>
$for where, distance in distances:
    <tr>
      <td><a href="/towns/$where">$where</a></td>
    <td>$distance</td>
    </tr>
</table>
</details>

<h2>Marketplace</h2>

$if industries:
    Major crafts and industries in $titlecase(town) include $sorted(industries).

$if has_market:
    <p>$titlecase(town) has an official market; <strong>all goods</strong> can be purchased.</p>
    <p>Goods available: $len(registry)</p>
$else:
    <p>$titlecase(town) has no official market; only <strong>common goods</strong> can be purchased.</p>
    <p>Goods available: $len({r:info for r, info in registry.items() if info.vendor in vendors})</p>

$for vendor in sorted(list(vendors)):
    <h3>$vendor.title()</h3>
    $if vendor == 'armorer':
        Small armors are for gnomes and halflings.
    $ recipes = [(name, recipe) for name, recipe in registry.items() if recipe.vendor == vendor]
    $if vendor != 'cooper':
        $# don't sort for the cooper because barrels are already sorted by size
        $ recipes.sort()
    $ filename = vendor.replace(" ", "_") + ".jpg"
    $if (static_dir() / filename).exists():
        $# TODO how do I make this path resolve relative to the app root?
        <img class=vendor height=300 src="/static/$filename">
    <ul class=bare>
    $for name, recipe in recipes:
        <li>
        <a href="/tradegoods/$name">$name</a><br>
        $recipe.display_price(info)<br>
        $if recipe.description:
            $recipe.description<br>
        </li>
    </ul>
$#        $if tx.user.role == 'player':
$#            $ chars = my_characters(tx.user.name)
$#        $else:
$#            $ chars = list(all_characters.keys())
$#        $ whocanbuy = [c for c in chars if can_afford(recipe.chunked_price(info).values(), all_characters[c]['money'].values())]
$#        $if whocanbuy:
$#            $if tx.user.role == 'player':
$#                Your characters who could buy this: $:whocanbuy<br>
$#            $else:
$#                PCs who could buy this: $:whocanbuy<br>
