$def with (town, info, registry, has_market, vendors, industries)

<h1>$town.upper()</h1>

$ distances = [(where, distance) for where, distance in info['hexes to'].items() if 'Far Away' not in where]
$ distances.sort(key=lambda x: x[1])

<details>
<summary>Distance to Other Settlements</summary>
<table>
<tr>
<th>Name</th>
<th>Days Away</th>
</tr>
$for where, distance in distances:
    <tr>
      <td><a href="/towns/$where">$where</a></td>
    <td>$distance</td>
    </tr>
</table>
</details>

<h2>Marketplace</h2>

$if industries:
    Major crafts and industries in $titlecase(town) include $sorted(industries).

$if has_market:
    <p>$titlecase(town) has an official market; <strong>all goods</strong> can be purchased.</p>
    <p>Goods available: $len(registry)</p>
$else:
    <p>$titlecase(town) has no official market; only <strong>common goods</strong> can be purchased.</p>
    <p>Goods available: $len({r:info for r, info in registry.items() if info.vendor in vendors})</p>

$ vendors = sorted(list(vendors))
<details>
<summary>Vendor List</summary>
<table>
$for vendor in vendors:
    <tr>
    <td><a href="#$idify(vendor)">$titlecase(vendor)</a></td>
    </tr>
</table>
</details>


$for vendor in vendors:
    <h3 id=$idify(vendor) class=vendor-name>$vendor.upper()</h3>
    $ filename = vendor.replace(" ", "-") + ".jpg"
    $if (static_dir() / filename).exists():
        <img class=vendor-image height=450 src="/static/$filename">
    $if vendor == 'armorer':
        <p><strong>Gnomes and halflings</strong> wear small-size armors.</p>
    $if vendor == 'hatter':
        <p>Hats are the same size for all races.</p>
    $if vendor == 'tailor':
        <p>Non-armor clothing is the same size for all races.</p>
    $if vendor == 'bowyer':
        <p>See <a href="/rules/weapons">the Weapons page</a> for more about bows and crossbows. To purchase other weapons, visit the <a href="#weaponsmith">weaponsmith</a>.</p>
    $if vendor == 'weaponsmith':
        <p>Bows are purchased from the <a href="#bowyer">bowyer</a>. See <a href="/rules/weapons">the Weapons page</a> for more about weapons.</p>
    $if vendor in ('dairy', 'costermonger', 'grocer', 'greengrocer'):
        <p>See <a href="/rules/food">the Food page</a> for more about food and drink.</p>
    $ recipes = [(name, recipe) for name, recipe in registry.items() if recipe.vendor == vendor]
    $if vendor != 'cooper':
        $# don't sort for the cooper because barrels are already sorted by size
        $ recipes.sort()


    <table class="vendor-table">
    <tr>
    <th>Good</th><th>Price</th><th>Sale Unit</th><th>Weight</th><th>Description</th>
    </tr>
    $for name, recipe in recipes:
        <tr>
        <td><a href="/tradegoods/$name">$name</a></td>
        $ price, unit, weight = recipe.web_display_price(info)
        $ description = recipe.description if recipe.description else ""
        $ capacity = f"capacity {recipe.capacity:~}" if recipe.capacity else ""
        <td>$price</td>
        <td>$unit</td>
        <td>$weight</td>
        $if capacity and description:
            <td>${f"{capacity}; {description}"}</td>
        $elif capacity:
            <td>$capacity</td>
        $elif description:
            <td>$description</td>
        $else:
            <td></td>
        </tr>
    </table>


    $#<ul class=bare>
    $#$for name, recipe in recipes:
    $#    <li>
    $#    <a href="/tradegoods/$name">$name</a><br>
    $#    $recipe.display_price(info)<br>
    $#    $if recipe.description:
    $#        $recipe.description<br>
    $#    </li>
    $#</ul>
$#        $if tx.user.role == 'player':
$#            $ chars = my_characters(tx.user.name)
$#        $else:
$#            $ chars = list(all_characters.keys())
$#        $ whocanbuy = [c for c in chars if can_afford(recipe.chunked_price(info).values(), all_characters[c]['money'].values())]
$#        $if whocanbuy:
$#            $if tx.user.role == 'player':
$#                Your characters who could buy this: $:whocanbuy<br>
$#            $else:
$#                PCs who could buy this: $:whocanbuy<br>
