$def with (town, info, registry, has_market, vendors)

<h1>$town.upper()</h1>

$#<details>
$#<summary>Raw Material Prices</summary>
$#<ul>
$#$for c, price in info['price'].items():
$#    <li>$c, $price</li>
$#</ul>
$#</details>

<p>
Number of trade goods: $len(registry)
</p>

$if has_market:
    <p>$titlecase(town) has an official market; all goods are available for purchase.</p>
$else:
    <p>$titlecase(town) has no official market; only the most common vendors can be visited.</p>

$for v in sorted(list(vendors)):
    <h2>$v.title()</h2>
    $ rs = [(name, recipe) for name, recipe in registry.items() if recipe.vendor == v]
    $if v != 'cooper':
        $#barrels are already sorted by size
        $rs.sort()
    <ul>
    $for name, recipe in rs:
        <li>
        <a href="/tradegoods/$name">$name</a><br>
        $ p = recipe.display_price(info)
        $p<br>
        $if recipe.description:
            $recipe.description<br>
        </li>
    </ul>
