$def with (name, recipe, registry)

<h1>$name</h1>

$if recipe.description:
    <p>
    Description: $recipe.description.
    </p>

<p>
The <em>$recipe.vendor</em> sells $name in units of ${recipe.unit}.
</p>

<p>
Price varies with the rarity of this reference: <em>$recipe.governor.</em>
</p>



$if not recipe.container:
    <p>Weight: $recipe.weight</p>
$else:
    <p>Gross weight, including container: $recipe.total_weight()</p>
    <p>Net weight: $recipe.weight</p>

$if recipe.raws:
    <p>Producing $name requires these raw materials:<br> $recipe.raws</p>

$if recipe.recipes:
    <p>Producing $name requires these sub-recipes:<br> $recipe.recipes</p>
