$def with (name, recipe, registry, vendors, limited_vendors)

<h1>$name</h1>

$if recipe.description:
    <p><strong>Description</strong>: $recipe.description</p>

$if recipe.vendor:
    <p><strong>Sold by</strong>: $recipe.vendor</p>

<strong>Sale unit</strong>: $recipe.unit

$if not recipe.container:
    <p><strong>Weight</strong>: $recipe.weight</p>
$else:
    <p><strong>Gross weight</strong>: $recipe.total_weight() (including <strong>container</strong>: <a href="/tradegoods/$recipe.container">$recipe.container</a>)</p>
    <p><strong>Net weight</strong>: $recipe.weight</p>

$if recipe.capacity:
    <p><strong>Capacity</strong>: $recipe.capacity</p>

$if recipe.raws:
    <p>Component <strong>raw materials</strong>:<br> $list_ingredients(recipe.raws)</p>

$if recipe.recipes:
    <p>Component <strong>trade goods</strong>:<br> $:list_ingredients(recipe.recipes, True)</p>

$#<h2>Prices</h2>
$#
$#$if recipe.vendor in limited_vendors:
$#    $ ts = [t for t in towns]
$#$else:
$#    $ ts = [t for t in towns if has_market(t)]
$#
$#$ ts.sort()
$#$if 'Far Away' in ts:
$#    $ ts.remove('Far Away')
$#
$#<table>
$#<tr>
$#<th>Location</th><th>Typical Price</th>
$#</tr>
$#$for t in ts:
$#    <tr><td>$t</td><td>$recipe.display_price(towns[t])</td></tr>
$#</table>
