body { background-color: antiquewhite; }

/*a {background-color: inherit} */

ul.bare > li {
  padding-left: 1em;
  list-style: none;
}

ul.bare > li:nth-child(even) { background-color: white; }
ul.bare > li:nth-child(odd) { background-color: lightgrey; }
tr:nth-child(even) { background-color: white; }
tr:nth-child(odd) { background-color: lightgrey; }

/* don't apply white/grey coloring to the <tr> which contains <th> */
tr:nth-child(1) { background-color: inherit; }

/* map */
polygon:hover {
  stroke: blue;
  fill: red;
}

img.vendor {
    display: block;
    margin-left: auto;
    margin-right: auto }
